<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="baseDirectory" value="/home/code/java/logs"/>
    <property name="pattern" value="%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n"/>

    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${baseDirectory}/%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>60</maxHistory>
            <totalSizeCap>20GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${pattern}</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="com.qgq.fwpt" level="DEBUG"/>
    <logger name="org.springframework.web.client" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="rollingAppender"/>
    </root>

</configuration>
